<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>


	<connectionStrings>
		<add name="FurnitureDbContext" connectionString="data source=fsd05docnetproject.database.windows.net;initial catalog=FSD05DotNetProject;user id=dbadmin;password=fYaxcMbBC0YA1925;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
	</connectionStrings>

</configuration>
